# ==============================================================================
# Client Specific Rules (Flutter)
# ==============================================================================

# 1. Flutter/Dart Specific (Root handles .dart_tool)
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/

# 2. Mobile Specific
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/app/debug
android/app/profile
android/app/release

# 3. Signing (Already in root but keeping here for extra safety)
key.properties
google-services.json
GoogleService-Info.plist

# 4. Generated Code (Keep if you use build_runner)
# *.g.dart
# *.freezed.dart
